name: GitHub-Profile-3D-Contrib

on:
  schedule: # Roda todos os dias à meia-noite
    - cron: "0 0 * * *"
  workflow_dispatch: # Permite que você rode manualmente agora

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v3
      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        with:
          github_user_name: vitoriasaldanha22
      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          git commit -m "generated"
          git push
